.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.popular h2{
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    height: 6px;
    width: 200px;
    border-radius: 10px;
    background-color: green;
}

.popular_item{
    margin-top: 50px;
    display: flex;
    gap: 30px;


}
