.productDisplay{
    display: flex;
    margin: 0px 50px;
    margin-top: 50px;
}

.productDisplay_left{
    display: flex;
    gap: 17px;
}

.productDisplay_img_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.productDisplay_img_list img{

    height: 100px;
    width: 150px;
}

.productDisplay_main_img{
    width: 300px;
    height: 430px;
}

.productDisplay_right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplay_right h1{
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 700;
}

.productDisplay_right_star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;

}

.productDisplay_right_prices{
    display: flex;
    margin: 20px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplay_right_price_old{
    color: #818181;
    text-decoration: line-through;

}

.productDisplay_right_price_new{
    color: #ff4141;
}

.productDisplay_right_description p{
color: white;

}

.productDisplay_right_size h1{
    margin-top: 20px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productDisplay_right_sizes{
    display: flex;
    margin: 30px 0;
    gap: 20px;
}

.productDisplay_right_sizes div{
    padding: 18px 24px;
    background-color: gray;
    border: 1px solid #ebebee;
    cursor: pointer;
}

.productDisplay_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;

}

.productDisplay_right_category{
    margin-top: 10px;

}

.productDisplay_right_category span{
    font-weight: 700;
}